Concatenated_exonerate_input_*
KRAKEN2_RESULTS/concat/*.fq
KRAKEN2_RESULTS/concat/*.fastq
KRAKEN2_RESULTS/test_data/*
slurm/log/*
slurm/clusterSnakemake.sh
slurm/config.yaml
list/*
log/*
logs/*
refs/*
.snakemake/*
*.fastq*
*.fq*
*.fastqc*
*.html
*.zip
*.fasta*
*.fai
*.log
*.OU
*.ER
*.gz
*.pdf
*.list
*.done
*.log
list/*
*.fas
*.txt
*align*

