Concatenated_exonerate_input_*
KRAKEN2_RESULTS/concat/*
slurm/log/*
slurm/clusterSnakemake.pbs
slurm/config.yaml
list/*
log/*
logs/*
refs/*
.snakemake/*
*.fastq*
*.fq*
*.fastqc*
*.html
*.zip
*.fasta*
*.fai
*.log
*.OU
*.ER
*.gz
*.pdf
*.list
*.done
*.log
list/*
mitogenes/*/*.fas
mitogenes/*/*.txt
mitogenes/*/*align*

